<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/favicon.ico">
    <title>home page</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/home.css" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="logoimg">
            <img src="../static/img/logo.png" alt="东南大学" width="80">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="logotxt">
                        <h1>东南大学</h1>
                    </div>
                    <h2 class="site-name text-center">学生事务管理</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">奖学金管理</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-4 col-md-2 text-center">
                    <a href="api/jiang_list" class="fun">
                        <img src="../static/img/yjxj.png" alt="已申请奖学金">
                    </a>
                    <div class="txt">已申请奖学金</div>
                </div>
                <div class="col-xs-4 col-md-2 text-center">
                    <a href="#" class="fun">
                        <img src="../static/img/kjxj.png" alt="可申请奖学金">
                    </a>
                    <div class="txt">可申请奖学金</div>
                </div>
                <div class="col-xs-4 col-md-2 text-center">
                    <a href="#" class="fun">
                        <img src="../static/img/ljxj.png" alt="奖学金一览">
                    </a>
                    <div class="txt">奖学金一览</div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">助学金管理</h3>
        </div>
        <div class="panel-body">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4 col-md-2 text-center">
                        <a href="#" class="fun">
                            <img src="../static/img/yzxj.png" alt="已申请助学金">
                        </a>
                        <div class="txt">已申请助学金</div>
                    </div>
                    <div class="col-xs-4 col-md-2 text-center">
                        <a href="#" class="fun ">
                            <img src="../static/img/kzxj.png" alt="可申请助学金">
                        </a>
                        <div class="txt">可申请助学金</div>
                    </div>
                    <div class="col-xs-4 col-md-2 text-center">
                        <a href="#" class="fun">
                            <img src="../static/img/lzxj.png" alt="助学金一览">
                        </a>
                        <div class="txt">助学金一览</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
