<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>shengqjxj page</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/allfun.css" rel="stylesheet">
</head>

<body>
    <div class="header navbar-fixed-top">
        <div class="backimg">
            <a href=""><img src="img/back.png" alt="返回" width="50"></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="funtxt">
                        可申请奖学金
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="white">. </div>
    <div class="col-xs-12 col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">XX奖学金</h3>
            </div>
            <div class="panel-body">
                <div class="state">奖学金级别：</div>
                <div class="state">评定学年：</div>
                <div class="state">金额：</div>
                <div class="state">审核状态：</div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">XX奖学金</h3>
            </div>
            <div class="panel-body">
                <div class="state">奖学金级别：</div>
                <div class="state">评定学年：</div>
                <div class="state">金额：</div>
                <div class="state">审核状态：</div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">XX奖学金</h3>
            </div>
            <div class="panel-body">
                <div class="state">奖学金级别：</div>
                <div class="state">评定学年：</div>
                <div class="state">金额：</div>
                <div class="state">审核状态：</div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">XX奖学金</h3>
            </div>
            <div class="panel-body">
                <div class="state">奖学金级别：</div>
                <div class="state">评定学年：</div>
                <div class="state">金额：</div>
                <div class="state">审核状态：</div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">XX奖学金</h3>  
            </div>
            <div class="panel-body">
                <div class="state">奖学金级别：</div>
                <div class="state">评定学年：</div>
                <div class="state">金额：</div>
                <div class="state">审核状态：</div>

            </div>
        </div>
    </div>
    <ul class="nav nav-tabs nav-tabs-justified navbar-fixed-bottom">
        <div class="row" align="center">
            <div class="col-md-4 col-sm-4 col-xs-4 tablock" align="center">
                <li><a href="#" class="tabtxt">一览表</a></li>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 tablock inthis" align="center">
                <li>
                    <div>可申请</div>
                </li>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 tablock" align="center">
                <li><a href="#" class="tabtxt">已申请</a></li>
            </div>
        </div>
    </ul>
    <div class="white">. </div>
</body>

</html>
